.login-container {
    display: flex;
}

.login-content {
    display: flex;
    justify-content: space-between;
    width: 1366px;
    margin: auto;
}

.LoginForm-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.LoginForm-content {
    width: 311px;
    margin: auto;
    height: 100vh;
    padding-top: 78px;
}

.LoginIntro-content-title-container {
    height: calc(100vh - 116px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.LoginForm-content-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #463677;
    margin: 0;
}

.LoginForm-logo {
    display: flex;
    justify-content: center;
}

.LoginIntro-container {
    background-color: #463677;
    width: 668px;
    height: 100vh;
}

.LoginIntro-content {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1014px) {
    .LoginIntro-content-title-container {
        height: calc(100vh - 116px - 14rem);
    }
    .login-content {
        width: auto;
    }
    .LoginIntro-container {
        display: none;
    }
    .LoginForm-content-buttons-position-mobile {
        margin-top: 5rem;
    }
    .LoginIntro-content-title-content {
        margin-top: 14rem;
    }
}

@media (max-width: 390px) {
    .LoginForm-content  {
        width: auto;
    }
}