.MyPets-section {
    width: 1096px;
    margin: auto;
    padding-top: 37px;
}

.MyPets-section-p {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFA7FE;
    margin: 0;
}


.MyPets-container {
    width: 695px;
    margin: auto;
    padding-bottom: 118px;
    user-select: none;
    margin-top: -16px;
}

.MyPets-content-container {
    display: flex;
    justify-content: space-between;
    padding-right: 13px;
}

.MyPets-content-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #463677;
    margin: 0 0 10px 0;
}

.MyPets-content-name {
    padding-top: 29px;
}

.MyPets-line {
    width: 100%;
    height: 1px;
    background-color: #E7EBF8;
    margin-top: -4px;
}

.MyPets-ImageWoman_and_dog {

}

.MyPets-box-consultation {
    width: 100%;
    padding: 22px;
    background: #DCD9FF;
    border-radius: 20px;
    margin-top: 14px;
}

.MyPets-box-consultation-content,
.MyPets-box-items-container,
.MyPets-content-items-container,
.MyPets-content-info-title-and-button-container,
.MyPets-content-tab-container,
.MyPets-content-info-responsive-content
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.MyPets-content-items {
    display: flex;
    align-items: center;
    padding-left: 14px;
    cursor: pointer;
    width: 165px;
    height: 60px;
    background: #FAFBFF;
    border-radius: 10px;
}

.show-points-carrousel {
    display: none;
}
.show-points-item-container {
    width: 32px;
    display: flex;
    justify-content: space-between;
}
.show-points-item {
    width: 10px;
    height: 10px;
    background: #E7EBF8;
    border-radius: 50%;
    cursor: pointer;
}

.show-points-item-selected {
    width: 10px;
    height: 10px;
    background: #463677;
    border-radius: 50%;
    cursor: pointer;
}

.MyPets-content-items-no-select {
    display: flex;
    align-items: center;
    padding-left: 14px;
    cursor: pointer;
    width: 165px;
    height: 60px;
    background: #FAFBFF;
    border-radius: 10px;
    border: 2px solid #FAFBFF;
}

.MyPets-content-items-select {
    display: flex;
    align-items: center;
    padding-left: 14px;
    cursor: pointer;
    width: 165px;
    height: 60px;
    background: #FAFBFF;
    border-radius: 10px;
    border: 2px solid #9188FD;
}

.MyPets-content-responsive-container, .MyPets-content-responsive-image-and-title {
    display: flex;
    align-items: center;
}
.MyPets-content-responsive-container {
    justify-content: space-between;
    width: 100%;
}
.MyPets-content-responsive-arrow {
    display: none;
}

.MyPets-box-items-container {
    margin-top: 18px;
}

.MyPets-box-consultation-content-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 201px;
    height: 44px;
    background: #463677;
    border-radius: 10px;
}

.MyPets-box-consultation-content-button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0 10px 0 0;
}

.MyPets-box-consultation-content-text-container {
    width: 312px;
}

.MyPets-box-consultation-content-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #463677;
    margin: 0;
}

.MyPets-box-items {
    display: flex;
    justify-content: space-between;
    width: 338px;
    height: 149px;
    background: #FAFBFF;
    border: 1px solid #E7EBF8;
    border-radius: 20px;
    padding: 21px 20px 14px 20px;
}

.MyPets-box-items-content-text-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.MyPets-box-items-content-p {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #404252;
    margin: 0;
}

.MyPets-box-items-content-p2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #777986;
    margin: 2px 0 0 0;
}

.MyPets-box-items-content-text-p {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #463677;
    margin: 0;
}

.MyPets-box-image-Heart {
    display: flex;
    align-items: flex-end;
    padding-bottom: 4px;
}

.MyPets-title-container {
    margin-top: 40px;
    margin-bottom: 24px;
}

.MyPets-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #463677;
    margin: 0;
}


.MyPets-content-items-active {
    width: 165px;
    height: 60px;
    background: #FAFBFF;
    border: 2px solid #9188FD;
    border-radius: 10px;
}

.MyPets-content-items-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #404252;
    margin: 0 0 0 6px;
}

.MyPets-content-info-container {
    width: 100%;
    background: #FAFBFF;
    border: 1px solid #E7EBF8;
    border-radius: 20px;
    padding: 20px 24px 0 24px;
    margin-top: 20px;
}

.MyPets-content-info-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAFBFF;
    border: 1px solid #D2D4DA;
    border-radius: 10px;
    padding-left: 16px;
    padding-right: 11px;
    height: 34px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #463677;
}

.MyPets-content-info-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #6E66CC;
    margin: 10px 0 0 0;
}

.MyPets-content-info-button-p {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #463677;
    margin: 0 6px 0 0;
}

.MyPets-content-info-item-container {
    display: flex;
    justify-content: space-between;
    width: 496px;
    margin-top: 12px;
}

.MyPets-content-info-item {
    display: flex;
    flex-direction: column;
}

.MyPets-content-info-item-p1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #777986;
    margin: 0;
}

.MyPets-content-info-item-p2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #404252;
    margin: 0;
}

.MyPets-content-image-status {
    margin: 24px 0 24px 0;
}

.MyPets-content-line {
    width: 100%;
    height: 1px;
    background-color: #E7EBF8;
    margin-top: 30px;
    margin-bottom: 21.5px;
}

.MyPets-content-tab-container {
    cursor: pointer;
}
.MyPets-content-info-list-container {
    display: flex;
    justify-content: space-between;
    width: 515px;
    margin-bottom: 10px;
}

.MyPets-content-list-content-container {
    display: flex;
    padding-left: 24px;
    align-items: center;
    height: 70px;
    border-top: 1px solid #E7EBF8;
    margin-left: -24px;
    margin-right: -24px;
}

.MyPets-content-info-list-p2-opacity {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #9496A1;
    margin: 0;
    cursor: pointer;
}

.MyPets-view-button-chat {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #9188FD;
    margin: 0;
    cursor: pointer;
    margin-left: 24px;
}

.MyPets-content-info-responsive-container {
    display: none;
}

.MyPets-content-button-responsive {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #463677;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

@media (max-width: 1164px) {
    .MyPets-section {
        width: 695px;
    }
    .MyPets-container {
        margin-top: 0;
    }
}

@media (max-width: 753px) {
    .MyPets-container, .MyPets-section {
        width: auto;
    }

    .MyPets-container {
        padding: 0 20px 0 20px;
    }

    .MyPets-section {
        padding: 37px 20px 0 20px;
    }
}

@media (max-width: 728px) {
    .MyPets-content-info-container {
        display: none;
    }
    .MyPets-box-items-container {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .MyPets-box-items {
        margin-bottom: 12px;
        width: 100%;
    }
    .MyPets-title {
        font-size: 20px;
    }
    .MyPets-content-items-container {
        flex-direction: column;
        padding-bottom: 45px;
    }
    .MyPets-content-items-select, .MyPets-content-items-no-select{
        width: 100%;
        margin-bottom: 12px;
        padding: 0 12px;
    }
    .MyPets-content-responsive-arrow {
        display: flex;
    }
    .MyPets-content-info-responsive-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: #FAFBFF;
        border: 1px solid #E7EBF8;
        border-radius: 20px;
        padding: 16px;
        margin-top: 9px;
        margin-bottom: 10px;
    }
    .MyPets-content-info-responsive-content, .MyPets-content-info-item-container {
        padding-left: 8px;
    }
}

@media (max-width: 600px) {
    .MyPets-container {
        padding: 0 17px 0 17px;
    }

    .MyPets-content-container {
        padding-right: 0px;
    }

    .MyPets-line {
        width: 97%;
        margin-top: 3px;
    }

    .MyPets-content-title {
        font-size: 24px;
    }

    .MyPets-section {
        padding: 13px 18px 0 18px;
    }
    .MyPets-content-name {
        padding-top: 0;
    }

    .MyPets-ImageWoman_and_dog {
        width: 147px;
        height: 121px;
        margin-top: 5px;
        margin-right: -7px;
    }
    .MyPets-content-container {
        margin-top: 22px;
    }
    .MyPets-box-consultation-content-text {
        width: 289px;
        font-size: 16px;
    }
    .MyPets-box-consultation-content-button {
        width: 154px;
        height: 40px;
    }
    .MyPets-box-items-container {
        margin-top: 12px;
    }
    .MyPets-content-info-item-container {
        display: grid;
        grid-template-columns: 98px 158px;
        grid-row-gap: 24px;
        justify-content: flex-start;
        width: auto;
        margin-top: 27px;
    }
    .MyPets-content-image-status {
        margin: 24px 0 44px 0;
    }
}


@media (max-width: 516px) {
    .MyPets-box-consultation-content {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .MyPets-box-consultation-content-button {
        font-size: 14px;
        margin-top: 16px;
    }
    .MyPets-box-consultation {
        margin-top: 12px;
        padding: 16px;
    }
}

@media (max-width: 412px) {
    .not-visible-card {
        display: none;
    }
    .show-points-carrousel {
        display: flex;
        justify-content: center;
    }
}