.IngresaATuMascota-container {
    display: flex;
    justify-content: center;
    margin-top: 58px;
    padding-bottom: 208px;
}

.EnterYourPetForm-container {
    width: 358px;
}

.EnterYourPetForm-content-item {
    width: 335px;
}

.EnterYourPetForm-content-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #463677;
    margin: 0;
}

.EnterYourPetForm-content-subtitle-container {
    margin-top: 39px;
    margin-bottom: 18px;
}

.EnterYourPetForm-content-subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #9188FD;
    margin: 0;
}
.Option-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-top: 6px;
}

.Option-container-type {
    display: flex;
    flex-direction: column;
}

.OptionButton-container {
    margin-bottom: 9px;
}

.Option-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 161px;
    height: 37px;
    border: 1px solid #D2D4DA;
    border-radius: 5px;
    cursor: pointer;
}

.Option-item-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 161px;
    height: 37px;
    border: 1px solid #D2D4DA;
    border-radius: 10px;
    cursor: pointer;
    padding-left: 12px;
}

.Option-item-button-active {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 161px;
    height: 37px;
    border: 1px solid #463677;
    border-radius: 10px;
    cursor: pointer;
    color: #FFFFFF;
    background: #463677;
    padding-left: 12px;
}

.Option-item-active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 161px;
    height: 37px;
    border: 1px solid #463677;
    border-radius: 5px;
    cursor: pointer;
    color: #FFFFFF;
    background: #463677;
}

.ShowDog-content-dog-container {
    margin-top: 63px;
    margin-left: 18px;
}

.ShowDog-Bottomless_Dogs-container {
    width: 230px;
    height: 303px;
}

.ShowDog-circle-pink-container {
    width: 173px;
    height: 167px;
    position: absolute;
    margin-left: 8rem;
    margin-top: -2rem;
}

@media (max-width: 776px) {
    .IngresaATuMascota-container {
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 100px;
    }
    .ShowDog-content-dog-container {
        margin-top: 0;
        margin-left: 0;
    }
    .EnterYourPetForm-content-title{
        Font-size: 28px
    }

    .EnterYourPetForm-container{
        width: auto;
    }

    .ShowDog-circle-pink-container{
        width: 160px;
    }
    .ShowDog-content-dog {
        display: none;
    }
}