.ChooseYourPlan-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 14px;
}

.ChooseYourPlan-content-h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #463677;
    margin: 0;
    position: relative;
}

.ChooseYourPlan-content-image-cicle_yellow {
    position: absolute;
    width: 130px;
    height: 52px;
    margin-top: -4.4rem;
    margin-left: 14rem;
}

.ChooseYourPlan-content-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #404252;
    margin: 19px 0 0 0;
    width: 428px;
    text-align: center;
}

@media (max-width: 446px) {
    .ChooseYourPlan-content-p {
        width: auto;
        padding: 0 20px;
    }
}

@media (max-width: 420px) {
    .ChooseYourPlan-content-image-cicle_yellow {
        margin-top: -6rem;
    }
}