.Header_LoggedIn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #E7EBF8;
    height: 80px;
    padding: 0 32px;
    user-select: none;
}

.Header_LoggedIn-user-container, .Header_LoggedIn-user-button-and-line {
    display: flex;
}

.Header_LoggedIn-user-button-and-line {
    align-items: center;
}

.Header_LoggedIn-user-line {
    width: 1px;
    height: 27px;
    background-color: #E7EBF8;
    margin: 0 12px;
}

.Header_LoggedIn-user-button-yellow {
    width: 136px;
    height: 36px;
    background: #FED849;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #463677;
    cursor: pointer;
}

.Header_LoggedIn-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 146px;
}

.Header_LoggedIn-user-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #463677;
    margin: 0;
}

.ChooseYourPlan-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 14px;
}

.ChooseYourPlan-content-h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #463677;
    margin: 0;
    position: relative;
}

.ChooseYourPlan-content-image-cicle_yellow {
    position: absolute;
    width: 130px;
    height: 52px;
    margin-top: -4.4rem;
    margin-left: 14rem;
}

.ChooseYourPlan-content-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #404252;
    margin: 19px 0 0 0;
    width: 428px;
    text-align: center;
}

@media (max-width: 446px) {
    .ChooseYourPlan-content-p {
        width: auto;
        padding: 0 20px;
    }
}

@media (max-width: 420px) {
    .ChooseYourPlan-content-image-cicle_yellow {
        margin-top: -6rem;
    }
}