
.Input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.Input-text-container {
    display: flex;
    justify-content: space-between;
}

.Input-label-container {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #463677;
}
.Input-seconds-label-container {
    position: absolute;
    margin-left: 10px;
    padding-bottom: 39px;
}
.Input-seconds-label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 18px;
    color: #463677;
}

.Input-label-password-container {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #9188FD;
    cursor: pointer;
}

.input {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #D2D4DA;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18;
    color: #777986;
    margin: 0 0 24px 0;
    outline: none;
}

.input-pay {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #D2D4DA;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18;
    color: #777986;
    margin: 0 0 12px 0;
    outline: none;
}

.select {
    border: 1px solid #D2D4DA;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18;
    color: #777986;
    margin: 0 0 24px 0;
    outline: none;
}

.Input-select-container {
    position: absolute;
    right: 0;
    margin-right: 16px;
    margin-bottom: 4px;
}

.input::placeholder, .select::placeholder {
    color: #777986;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18;
}

.ContentButtons-container {

}

.whiteButton-content, .PurpleButton-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginForm-content-buttons {
    margin-top: 10px;
}

.PurpleButton-content {
    background: #463677;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.whiteButton-content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #463677;
    cursor: pointer;
}

.TextRegister-container {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 220px;
}

.register-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.register-content {
    display: flex;
    justify-content: space-between;
    width: 326px;
}

.register-content-text-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.register-container {
    padding-top: 78px;
}

.register-content-text-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #463677;
    margin: 0 0 12px 0;
}

.register-content-text-subtitle {
    font-family: 'Poppins';
    width: 495px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #282A3A;
    margin: 0;
}
.RegisterText {
    display: flex;
    justify-content: center;
    margin-bottom: 57.6px;
}

.register-img-container {
    position: absolute;
}

.register_arrow_yellow-container {
    position: absolute;
    margin-top: 12rem;
    margin-left: 29rem;
}

.Input-label-validation-container {
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 72px;
}

.Input-label-validation-Check-container {
    width: 12px;
    height: 12px;
    margin-bottom: 10px;
    margin-right: 4.5px;
}

.Input-label-validation-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
    margin: 0;
    color: #463677;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 172px;
}

.card-visa {
    display: flex;
    justify-content: center;
    width: 36px;
    height: 21px;
    background: #25459A;
    border-radius: 8%;
}

.card-mastercard {
    display: flex;
    justify-content: center;
    width: 36px;
    height: 21px;
    background: #10427A;
    border-radius: 8%;
}
.HeaderText {
    display: flex;
    align-items: center;
}
.HeaderText-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #463677;
    margin: 0 9px 0 0;
}

.HeaderText-p2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #463677;
    margin: 0 9px 0 0;
}

.HeaderText-arrow {
    margin-right: 9px;
}

@media (max-width: 627px) {
    .register-img-container {
        display: none;
    }
    .TextRegister-container {
        margin-top: 32px;
    }
}

@media (max-width: 545px) {
    .register_arrow_yellow-container {
        display: none;
    }
    .register-content-text-subtitle {
        width: auto;
        padding: 0px 27px;
    }
}

@media (max-width: 402px) {
    .HeaderText-p, .HeaderText-p2 {
        font-size: 13px;
    }
}

@media (max-width: 379px) {
    .HeaderText-p, .HeaderText-p2 {
        font-size: 12px;
    }
}

