
.Input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.Input-text-container {
    display: flex;
    justify-content: space-between;
}

.Input-label-container {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #463677;
}
.Input-seconds-label-container {
    position: absolute;
    margin-left: 10px;
    padding-bottom: 39px;
    display: inline-block;
    pointer-events: none;
}
.Input-seconds-label {
    font-weight: 600;
    font-size: 10px;
    line-height: 18px;
    color: #463677;
}

.Input-label-password-container {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #9188FD;
    cursor: pointer;
}

.input {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #D2D4DA;
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18;
    color: #777986;
    margin: 0 0 24px 0;
    outline: none;
}

.input-list-container {
    background: #FFFFFF;
    padding: 17px 12px 5px 12px;
    border: 1px solid #D2D4DA;
    border-radius: 10px;
    position: absolute;
    top: 5rem;
}

.input-list-p {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #777986;
    margin: 0;
}

.input-list-p-container {
    margin-bottom: 14px;
    cursor: pointer;
}

.input-pay {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #D2D4DA;
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18;
    color: #777986;
    margin: 0 0 12px 0;
    outline: none;
}

.select {
    border: 1px solid #D2D4DA;
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18;
    color: #777986;
    margin: 0 0 24px 0;
    outline: none;
}


.select-remove-arrow {
    width: 14px;
    height: 14px;
    background: white;
    position: absolute;
    right: 1px;
}

.Input-select-container {
    position: absolute;
    right: 0;
    margin-right: 16px;
    margin-bottom: 4px;
}

.input::placeholder, .select::placeholder {
    color: #777986;
    font-weight: 400;
    font-size: 14px;
    line-height: 18;
}

.ContentButtons-container {

}

.SmallBoard-container-content-expand {
    width: 720px;
    margin: auto;
}

.whiteButton-content, .PurpleButton-content, .PurpleButton-content-disabled  {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
}

.Tag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    border-radius: 5px;
}

.LoginForm-content-buttons {
    margin-top: 10px;
}

.PurpleButton-content-disabled {
    background: #F3F4F8;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #9E97B4;
    cursor: pointer;
}

.PurpleButton-content {
    background: #463677;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.whiteButton-content {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #463677;
    cursor: pointer;
}

.TextRegister-container {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 220px;
}

.register-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.register-content {
    display: flex;
    justify-content: space-between;
    width: 326px;
}

.register-content-text-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.register-container {
    padding-top: 78px;
}

.register-content-text-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #463677;
    margin: 0 0 12px 0;
}

.register-content-text-subtitle {
    width: 495px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #282A3A;
    margin: 0;
}
.RegisterText {
    display: flex;
    justify-content: center;
    margin-bottom: 57.6px;
}

.register-img-container {
    position: absolute;
}

.register_arrow_yellow-container {
    position: absolute;
    margin-top: 12rem;
    margin-left: 29rem;
}

.Input-label-validation-container {
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 72px;
}

.Input-label-validation-Check-container {
    width: 12px;
    height: 12px;
    margin-bottom: 10px;
    margin-right: 4.5px;
}

.Input-label-validation-text {
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
    margin: 0;
    color: #463677;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 172px;
}

.card-visa {
    display: flex;
    justify-content: center;
    width: 36px;
    height: 21px;
    background: #25459A;
    border-radius: 8%;
}

.card-mastercard {
    display: flex;
    justify-content: center;
    width: 36px;
    height: 21px;
    background: #10427A;
    border-radius: 8%;
}
.HeaderText {
    display: flex;
    align-items: center;
}
.HeaderText-p {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #463677;
    margin: 0 9px 0 0;
}

.HeaderText-p2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #463677;
    margin: 0 9px 0 0;
}

.HeaderText-arrow {
    margin-right: 9px;
}

.TagSelect-container-selected {
    width: 100%;
    height: 144px;
    display: grid;
    grid-template-columns: 157px 224px 191px 84px;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 0 0 0 32px !important;
}

.TagSelect-container-select {
    width: 695px;
    height: 144px;
    display: grid;
    grid-template-columns: 155px 225px 199px 68px;
    align-items: center;
    cursor: pointer;
    padding: 0 13px;
    margin: auto;
}

.TagSelect-p1 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    margin: 0;
    color: #404252;
}

.TagSelect-p2, .TagSelect-p3 {
    width: 182px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    margin: 0;
    color: #404252;
}

option {
    margin-left: 41px;
}

.TagSelect-check-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SmallBoard-tagSelect-container {
    margin-bottom: 40px;
}

.SmallBoard-button-container {
    margin-bottom: 79px;
}

.TagSelect-check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #5B5D6B;
}

.TagSelect-checked {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #463677;
}

.TagSelect-mobile-content-select {
    display: flex;
}

.viewport-mobile-modal {
    height: 100vh;
    overflow: hidden;
}

.TagSelect-mobile-description {
    padding: 0px 18px 18px 18px;
}

@media (max-width: 725px) {
    .TagSelect-container-select, .TagSelect-container-selected {
        display: none;
    }
    .TagSelect-mobile-content-container {
        display: flex;
        align-items: center;
        padding: 0 26px;
        height: 68px;
        border-radius: 10px;
    }
}

@media (max-width: 627px) {
    .register-img-container {
        display: none;
    }
    .TextRegister-container {
        margin-top: 32px;
    }
}

@media (max-width: 545px) {
    .register_arrow_yellow-container {
        display: none;
    }
    .register-content-text-subtitle {
        width: auto;
        padding: 0px 27px;
    }
}

@media (max-width: 402px) {
    .HeaderText-p, .HeaderText-p2 {
        font-size: 13px;
    }
}

@media (max-width: 379px) {
    .HeaderText-p, .HeaderText-p2 {
        font-size: 12px;
    }
}


