.SmallBoard-container {
    padding-top: 57px;
}

.SmallBoard-container-content-img-chat {
    width: 852px;
    margin: auto;
}

.SmallBoard-container-content {
    width: 695px;
    margin: auto;
}

.SmallBoard-container-content-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 41px;
    color: #463677;
    margin: 0;
}

.SmallBoard-container-content-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin: 12px 0 0 0;
    color: #777986;
}

.SmallBoard-select {
    width: 389px;
    margin-top: 24px;
}

.SmallBoard-table-header {
    display: grid;
    grid-template-columns: 155px 225px 199px 68px;
    align-items: center;
    padding: 0 24px;
    width: 100%;
    height: 41px;
    background: #FAFBFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.SmallBoard-table-header-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #777986;
    margin: 0;
}

.TagSelect-mobile-content-container, .TagSelect-mobile-container {
    display: none;
}

.SmallBoard-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SmallBoard-button-content-container {
    width: 248px;
}

@media (max-width: 895px) {
    .SmallBoard-container-content-img-chat {
        width: 695px;
        padding: 0;
    }
}

@media (max-width: 725px) {
    .SmallBoard-table-header {
        display: none;
    }
    .TagSelect-mobile-content-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 26px;
        height: 68px;
        border-radius: 10px;
    }
    .TagSelect-mobile-container {
        display: block;
        width: auto;
        padding: 0 20px;
    }
    .SmallBoard-container-content-img-chat, .SmallBoard-container-content {
        width: auto;
        padding: 0 20px;
    }
    .SmallBoard-container-content-expand {
        width: auto;
    }
    .TagSelect-check-container {
        margin-right: 26px;
    }
    .SmallBoard-select {
        width: 100%;
    }
    .SmallBoard-button-content-container {
        width: 100%;
        padding: 0 20px;
        position: fixed;
        bottom: 5px;
        z-index: 2;
    }
}