.Chat-container {
    display: flex;
}

.Chat-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 335px);
}
.SectionVideoAndFinishChat-menu {
    display: none;
}

.SectionVideoAndFinishChat-section-img-container {
    display: flex;
}

.SectionVideoAndFinishChat-section-img {
    display: none;
}

.SectionVideoAndFinishChat-container {
    display: flex;
    align-items: center;
    height: 67px;
    background: #FAFBFF;
    border-bottom: 1px solid #E7EBF8;
    padding: 0 27px 0 25px;
}

.SectionVideoAndFinishChat-section-user-active, .SectionVideoAndFinishChat-section-chat-and-video {
    display: flex;
    align-items: center;
}


.SectionVideoAndFinishChat-section-user-online-p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #463677;
    margin: 0 8px 0 0;
}

.SectionVideoAndFinishChat-section-name-p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    color: #777986;
}

.SectionVideoAndFinishChat-section-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.FinishChat-container {
    margin-right: 0;
}

.FinishChat-button {
    width: 132px;
    height: 39px;
    background: #EB5757;
    border-radius: 10px;
    border-color: transparent;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    cursor: pointer;
}

.FinishChat-button:after {
    content: "Terminar chat";
}

.Video-content {
    cursor: pointer;
}

.Message-container {

}

.Message-content {
   padding: 24px;
   height: calc(100vh - 244px);
   overflow-x: hidden;
}

.DetailsConsultation-reason-consultation-container {
    height: calc(100vh - 405px);
}

.SendingForm-container {
    position: fixed;
    bottom: 0;
    padding: 14px 24px 32px 24px;
    background: #FAFBFF;
    border-top: 1px solid #E7EBF8;
    width: calc(100% - 335px);
}

.SendingForm-content {
    display: flex;
    align-items: flex-end;
    background: #FFFFFF;
    border: 1px solid #D2D4DA;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 0 14px;
}

.SendingForm-content-send {
    display: flex;
    justify-content: flex-end;
    height: 48px;
    align-items: center;
    padding-top: 6px;
}

.SendingForm-textarea-container {
    display: flex;
    align-items: center;
    width: calc(100% - 57px);
}

.SendingForm-textarea {
    display: block;
    padding-top: 11px;
    width: 100%;
    overflow: hidden;
    width: 100%;
    min-height: 48px;
    border-color: transparent;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #777986;
    resize: none;
}

.SendingForm-textarea[contenteditable]:empty::before {
    content: "Mensaje";
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #777986;
}

.SendingForm-content-send-icon-container {
    display: flex;
}

.SendingForm-content-send-icon-emoji {
    margin-right: 16px;
}

.SendingForm-content-send-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    background: #F3F4F8;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 8px;
}
.DetailsConsultation-reason-pet-button-chat {
    display: none;
}

.TagReceive-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.MessageImage-receive-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.MessageImage-transmitter-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.TagReceive-content {
    display: flex;
}

.TagReceive-content-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DCD9FF;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 8px;
}

.TagReceive-content-circle-p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 18px;
    color: #463677;
    margin: 0;
}

.SendingForm-content-send-button {
    width: 95px;
    height: 40px;
    background: #463677;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
    border-color: transparent;
}

.TagReceive-content-text {
    width: 371px;
    padding: 12px 18px;
    background: #FAFBFF;
    border-radius: 10px;
}

.TagTransmitter-container {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.TagTransmitter-content, .MessageImage-content {
    display: flex;
    flex-direction: column;
}

.TagTransmitter-content-text {
    width: 371px;
    padding: 12px 18px;
    background: #9188FD;
    border-radius: 10px;
}

.TagReceive-content-text-p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #5B5D6B;
    margin: 0;
}

.TagTransmitter-content-text-p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #FAFBFF;
    margin: 0;
}

.TagReceive-content-date, .TagTransmitter-content-date, .MessageImage-content-date {
    margin-top: 7px;
}

.TagReceive-content-date-p, .TagTransmitter-content-date-p, .MessageImage-content-date-p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #777986;
    margin: 0;
}

.DetailsConsultation-responsive-container {
    width: 100%;
    height: 100vh;
    background-color: #FAFBFF;
}

.DetailsConsultation-container {
    width: 335px;
    height: calc(100vh - 80px);
    background-color: #FAFBFF;
    border-left: 1px solid #E7EBF8;
}
.DetailsConsultation-content {
    padding-top: 22px;
    padding-left: 20px;
    padding-right: 26px;
}

.DetailsConsultation-tab-container {
    display: flex;
}

.DetailsConsultation-tab-line {
    margin-left: -20px;
    margin-right: -26px;
    height: 1px;
    background: #E7EBF8;
    margin-bottom: 31px;
}


.DetailsConsultation-tab-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 141px;
    height: 37px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.DetailsConsultation-tab-content-active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 141px;
    height: 37px;
    border-bottom: 2px solid #FFA7FE;
    cursor: pointer;
}

.DetailsConsultation-tab-content-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    color: #463677;
}

.DetailsConsultation-content-title-container {
    display: none;
    padding-left: 4px;
    margin-bottom: 16px;
}

.DetailsConsultation-content-title {
    font-family: 'Poppins', sans-serif;
    width: max-content;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #463677;
    margin: 0;
}

.DetailsConsultation-reason-text {
    margin-top: 32px;
    margin-bottom: 45px;
}

.DetailsConsultation-reason-text-p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #777986;
    margin: 0 0 4px 0;
}

.DetailsConsultation-reason-text-p2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #404252;
    margin: 0;
}

.DetailsConsultation-reason-pet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.DetailsConsultation-reason-pet-container {
    display: flex;
    margin-top: 17px;
    margin-bottom: 34px;
}

.DetailsConsultation-reason-text-p3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    margin: 6px 0 0 0;
    color: #404252;
}

.DetailsConsultation-reason-container {
    margin-left: 7px;
}

.DetailsConsultation-checked-container {
    display: flex;
    align-items: center;
}

.DetailsConsultation-checked {

}

input[type="checkbox"]:enabled:checked {
    background: #463677;
    color: white;
}

.DetailsConsultation-checked-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    margin: 0 0 0 6px;
    color: #404252;
    padding-top: 2px;
}

.DetailsConsultation-reason-text-p4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    margin: 0 0 19px 0;
    color: #463677;
}

.DetailsConsultation-reason-pet-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    cursor: pointer;
}

.DetailsConsultation-reason-pet-item-p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-decoration-line: underline;
    color: #404252;
    margin: 0;
}

.DetailsConsultation-reason-pet-button-container {
    display: none;
    margin-top: 22px;
}

.DetailsConsultation-reason-pet-button {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #463677;
    outline: none;
    width: 100%;
    height: 40px;
    border: 1px solid #D2D4DA;
    border-radius: 10px;
    background: transparent;
    cursor: pointer;
}

.DetailsConsultation-arrow {
    display: none;
    cursor: pointer;
}

.file-input {
    display: none;

}

.MessageContent-file-notification {
    display: flex;
    align-items: center;
    padding-left: 29px;
    height: 50px;
    background: #F3F4F8;
}

.MessageContent-file-title-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.MessageContent-file-content-container {
    width: 535px;
    margin: auto;
}

.MessageContent-file-image-container {
    margin-bottom: 42px;
}

.SendingForm-content-more-file {
    display: flex;
    align-items: center;
    padding-right: 24px;
    position: fixed;
    width: calc(100% - 335px);
    bottom: 0;
    height: 87px;
    border-top: 1px solid #E7EBF8;
}
.SendingForm-content-more-file-button-container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 29px;
    margin-top: 10px;
}

.MessageContent-file-cross, .SendingForm-content-send-icon-Attached {
    cursor: pointer;
}

.SendingForm-content-more-file-button {
    width: 95px;
    height: 40px;
    background: #463677;
    border-radius: 10px;
    outline: none;
    border-color: transparent;
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.MessageContent-file-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    margin: 0;
    color: #777986;
}

.SendingForm-content-more-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.SendingForm-content-more-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border: 1px solid #E7EBF8;
    border-radius: 10px;
    margin-left: 9px;
}

.MessageContent-file-image-container {
    margin-top: 68px;
}

@media (max-width: 1336px) {
    .MessageContent-file-content-container {
        width: 352px;
    }
}

@media (max-width: 899px) {
    .SectionVideoAndFinishChat-section-user-active {
        cursor: pointer;
    }
    .FinishChat-button:after {
        content: "Finalizar";
    }
    .SectionVideoAndFinishChat-section-img {
        display: flex;
        margin-right: 8px;
    }
    .SectionVideoAndFinishChat-section-user-active {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .SectionVideoAndFinishChat-section-name-p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 130%;
        color: #404252;
        margin: 0;
    }
    .SectionVideoAndFinishChat-section-user-online-p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        color: #777986;
        margin: 0;
    }
    .SectionVideoAndFinishChat-menu {
        display: flex;
    }
    .DetailsConsultation-container, .Video-container, .SectionVideoAndFinishChat-menu {
        display: none;
    }
    .DetailsConsultation-tab-container {
        justify-content: center;
    }
    .Chat-content, .SendingForm-container, .SendingForm-content-more-file {
        width: 100%;
    }
    .DetailsConsultation-arrow {
        display: flex;
        position: absolute;
    }
    .DetailsConsultation-tab-content, .DetailsConsultation-tab-content-active {
        width: 100%;
    }
    .DetailsConsultation-reason-pet-container {
        margin-bottom: 24px;
    }
    .DetailsConsultation-reason-pet-item {
        margin-bottom: 16px;
    }
    .DetailsConsultation-reason-pet-button-container {
        margin-top: 27px;
    }
    .DetailsConsultation-reason-pet-button-chat {
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        border-color: transparent;
        width: 100%;
        height: 40px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
        background: #EB5757;
        border-radius: 10px;
        margin-top: 12px;
        cursor: pointer;
    }
    .DetailsConsultation-reason-text {
        margin-top: 53px;
        margin-bottom: 32px;
    }
    .DetailsConsultation-content-title-container {
        padding-left: 0;
    }
}

@media (max-width: 461px) {
    .MessageContent-file-image-container {
        margin-top: 25px;
    }
    .FinishChat-container {
        display: flex;
    }
    .FinishChat-button {
        width: 82px;
        height: 32px;
        border-radius: 10px;
    }
    .SectionVideoAndFinishChat-container {
        padding: 0 14px;
    }

    .DetailsConsultation-reason-pet-item-p {
        font-size: 14px;
        color: #404252;
    }
    .DetailsConsultation-reason-pet-button-chat {
        display: none;
    }
    .DetailsConsultation-tab-line {
        margin-left: -16px;
        margin-right: -18px;
    }
    .DetailsConsultation-reason-pet-item {
        margin-bottom: 16px;
    }
    .DetailsConsultation-content-title {
        font-size: 16px;
    }
    .DetailsConsultation-reason-text-p2 {
        font-size: 14px;
    }
    .DetailsConsultation-reason-text-p, .DetailsConsultation-reason-text-p3 {
        font-size: 12px;
    }
    .DetailsConsultation-content {
        padding-left: 16px;
        padding-right: 18px;
    }

    .SendingForm-content-send {
        justify-content: flex-end;
        width: auto;
    }
    .SendingForm-content-send-button {
        display: none;
    }
    .TagReceive-content-text {
        width: 275px;
    }
    .TagTransmitter-content-text {
        width: 271px;
    }
    .Message-content {
        padding: 16px;
        height: calc(100vh - 227px);
    }
    .SendingForm-textarea[contenteditable]:empty::before {
        width: 100%;
        padding: 9px 0 0 0;
        font-size: 14px;
    }
    .SendingForm-content {
        display: flex;
        justify-content: space-between;
    }
    .SendingForm-content-send-icon {
        background: transparent;
    }
    .SendingForm-content-send-icon {
        margin-right: 0;
    }
    .SendingForm-container {
        padding: 8px 8px 24px 8px;
    }
}


@media (max-width: 392px) {
    .MessageContent-file-content-container {
        width: 100%;
        padding: 0 20px;
    }
}