.Header_LoggedIn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #E7EBF8;
    height: 80px;
    padding: 0 32px;
    user-select: none;
}

.Header_LoggedIn-user-container, .Header_LoggedIn-user-button-and-line {
    display: flex;
}

.Header_LoggedIn-user-button-and-line {
    align-items: center;
}

.Header_LoggedIn-user-line {
    width: 1px;
    height: 27px;
    background-color: #E7EBF8;
    margin: 0 12px;
}

.Header_LoggedIn-user-button-yellow {
    width: 136px;
    height: 36px;
    background: #FED849;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #463677;
    cursor: pointer;
}

.Header_LoggedIn-user-button-chat-active {
    width: 136px;
    height: 36px;
    background: #27AE60;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.Header_LoggedIn-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 146px;
}

.Header_LoggedIn-user-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #463677;
    margin: 0;
}

@media (max-width: 600px) {
    .Header_LoggedIn-user-button-and-line, .Header_LoggedIn-user-name {
        display: none;
    }
    .Header_LoggedIn-user {
        width: 69px;
    }
    .Header_LoggedIn-container {
        padding: 0 20px;
    }

    .MypPets_circle_yellow {
        width: 103px;
        height: 29px;
    }
}